body {
    margin: 0;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    font-family: "Ubuntu", serif;
}

.fa.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }

#navbar {
    z-index: 1;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
#navbar a {
    background-color: inherit;
    color: #f2f2f2;
    float: left;
    display: block;
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
    transition: 0.3s;
}
#navbar a:hover {
    background-color: rgb(180, 180, 180);
    color: black;
}
#navbar a.active {
    background-color: #18742c;
    color: white;
}
#navbar .icon {
    display: none;
}

.header {
    text-align: left;
    font-size: 26px;
    height: 10%;
}
.header img {
    max-width: 10%;
}
.header_title{
    height: inherit;
    display: inline-block;
}

.clearfix {
    margin: 0;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.primary {
    float: left;
    width: 70%;
}

.secondary {
    float: left;
    width: 30%;
}

.footer {
    width: 100%;
    display: table;
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 30px;
    color: #333;
    background-color: #f2f2f2;
}
.footer_item {
    display: table-cell;
    padding-top: 20px;
    width: 33.3%;
}

.item {
    display: block;
    padding: 30px 50px;
    box-sizing: border-box;
    border-radius: 10px;
}
.item p, ul {
    padding: 30px 100px;
}
.item img {
    max-width: 100%;
}
.item iframe{
    width: 100%;
    height: 75%;
    border: 0;
    min-height: 300px;
    max-width: 100%;
}

@media only screen and (max-width: 1600px) {
    .primary { 
        display: block;
        float: left;
        width: 60%;
    }
    .secondary {
        display: block;
        float: left;
        width: 40%;
    }
    .footer_item {
        display: block;
        width: 100%;
    }
}
@media only screen and (max-width: 1360px) {
    .primary, .secondary { 
        display: block;
        width: 100%;
    }
    .footer_item {
        display: block;
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    body {
        font-size: 16px;
        line-height: 20px;
    }
    #navbar a:not(.active) {
        display: none;
    }
    #navbar a.icon {
      float: right;
      display: block;
    }
    .item {
        padding: 20px;
    }
    .item p, ul {
        padding: 20px;
    }
    .footer_item {
        display: block;
        width: 100%;
    }
  }
@media screen and (max-width: 800px) {
    #navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    #navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}